.all-content{
	margin:2%;
}
a{
	color:black;
}
.page-header>h2{
	display:inline;
	position:relative;
}
#stats-header{
	color:grey;
	font-size:12px;
	float:right;
	display:inline;
	margin-bottom:0px;
	text-align:right;
}
#stats-header>span{
	padding-top:12px;
	margin-left:12px;
}
.side-info{
	margin-top:7.5%;
	/*margin-bottom: 20px;
	margin-left:20px;*/
}

input.form-control.search{
	border:1px, solid;
	border-radius:6px !important;
	padding:6%;
	
}

.tag-list > span, .tags>span{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	color:grey;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left:1.5%;
	padding-right: 1.5%;
}
.tag-list >br{
	margin-bottom:3%;
}

.input-group-btn{
	position:relative;
	left: -20px;
	border:none;
}

.asker-details,.tags{
	display:inline;
}
.relative-time,.tags{
	color:grey;
	margin-left:12px;
}
.tags>span{
	margin-right:5px;
}

.question-stats{
	float:right;
	vertical-align:top;
	margin-left:10px;
}

.votes,.answers,.views{
	display:inline-block;
	min-width: 38px;
	text-align: center;
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 5px;
	background:lightgrey;
	padding-top:12px;
	padding-bottom:0px;
	padding-left: 2px;
	padding-right:2px;
	border-radius:50%;
	width:65px;
	height:65px;
}
.desc{
	font-size: 12px;
}
.views{
	background:black;
}
.counts{
	font-weight: bold;
	font-size:16px;
}
.summary{
	width:60%;
	float:left;
}

.summary >h3{
	margin-top:0px;
}

