.all-content{
	margin:2%;
}

.side-info{
	margin-top:7.5%;
	/*margin-bottom: 20px;
	margin-left:20px;*/
}

input.form-control.search{
	border:1px, solid;
	border-radius:6px !important;
	padding:6%;
	
}

.tag-list > span, .tags>span{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	color:grey;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left:1.5%;
	padding-right: 1.5%;
}
.tag-list >br{
	margin-bottom:3%;
}

.input-group-btn{
	position:relative;
	left: -20px;
	border:none;
}

.asker-details,.tags{
	display:inline;
}

.question-stats{
	float:right;
	vertical-align:top;
	margin-left:10px;
}

.votes,.answers,.views{
	display:inline-block;
	min-width: 38px;
	text-align: center;
	margin-right: 3px;
}

.summary{
	width:70%;
	float:left;
}

