#navbar-main{
margin:none;
padding-left: 0%;
padding-right:0%;
width:100%;
}

.navbar-custom{
	border: none;
	margin-bottom: 0%;
}

.container-for-nav{
	padding-left: 0%;
	padding-right: 0%;
	margin-left:0%;
	margin-right:0%;
	width:100%;
}
#smaller-nav{
	background-color:#303030; 
	border-radius:none;
	width:100%;
	padding-right: 5%;
	padding-left: 3%;
	margin-right: 0%;
	margin-left:0%;
	height:0% !important;
}
#bigger-nav{
	width:100%; 
	margin-right: 0%;
	margin-left:0%;
	padding:none;
	padding-top: 2.7%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right:2%;
}

.navbar-default .navbar-nav > li > a {
	color:white;
}
.navbar-default .navbar-nav > li > a:hover{
	color:white;
}

#centre-shift{
	padding: 0% 5% 0% 0%;
}
#centre-shift > .navbar-right{
	float:none;
	padding-right: :6%;
}
#centre-shift > .navbar-left{
	padding-left:5%;
}
@media (max-width:767px){
	#smaller-nav *, #centre-shift *{
		display:inline-block;
	}

	#smaller-nav,#centre-shift{
		padding-left:8%;
	}
	#bigger-nav{
		padding:0%;
	}
	.navbar-left, #centre-shift > .navbar-right{
		float:left;
	}
	.navbar-right, #centre-shift > .navbar-right {
		float:right;
	}
	#centre-shift{
	padding: 0% 5% 0% 8%;
	
	}
	
}
@media(max-width: 991px){
	#centre-shift{
		width:100%;
	}
}
img{
	float:left;
	margin-right: 15%;
}